.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.blog-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.25rem 1.25rem;
    margin: 1rem;
}

.blog-card__image img {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.blog-card__image {
    display: flex;
}

.blog-card__info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.blog-card__title {
    font-size: 16px;
    font-weight: 400;
}
h3, p{
    padding: 2px;
    margin: 2px;
}
.blog-card__date,
.blog-card__location {
    width: 50%;
    font-size: 12px;
    font-weight: 150;
}

.blog-card__button--explore {
    font-size: 14px;
    font-weight: 300;
}

/* for tab responsive */
@media only screen and (min-width: 481px) {
    .blog-card__title {
        font-size: 18px;
        font-weight: 600;
    }

    .blog-card__date,
    .blog-card__location {
        font-size: 14px;
        font-weight: 300;
    }

    .blog-card__button--explore {
        font-size: 16px;
        font-weight: 400;
    }
}

/* for desktop responsive */
@media only screen and (min-width: 768px) {
    .blog-card {
        width: 40%;
        flex-direction: row;
    }

    .blog-card__image img {
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
        border-top-right-radius: 0rem;
    }

    .blog-card__info {
        width: 100%;
    }

    .blog-card__title {
        font-size: 22px;
        font-weight: 600;
    }

    .blog-card__date,
    .blog-card__location {
        font-size: 16px;
        font-weight: 400;
    }
    .blog-card__info button{
        right: 0;
    }
    .blog-card__button--explore{
        width: 78%;
        font-size: 22px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }
    h3, p{
        padding: 3px;
        margin: 1px;
    }
}