.post-card__title {
    width: 100%;
    position: absolute;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    justify-content: center;
    background-image: linear-gradient(to right, #27819c, #309abb);
    color: #ffff;
    padding-bottom: 8rem;
}

h3,
p {
    padding: 0px;
    margin: 0px;
}

.post-card__info {
    width: 50%;
    position: relative;
    display: flex;
    top: 5rem;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: #27cfec;
    padding: 3rem;
    background-color: #383b3ff1;
}

.post-card__image img {
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    border-width: 6px;
}

.post-card__info p {
    color: #6ed3e4;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
}

.post-card__description {
    margin-top: 6rem;
    padding: 1rem;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

/* for tab responsive */
@media only screen and (min-width: 481px) {
    .post-card__title {
        font-size: 40px;
        font-weight: 600;
    }

    .post-card__info {
        width: max-content;
        top: 4rem;
        padding: 2rem 4rem;
    }

    .post-card__image img {
        width: 80%;
    }

    .post-card__info p {
        font-size: 20px;
        font-weight: 500;
    }

    .post-card__description {
        margin-top: 4rem;
        padding: 2rem;
        font-size: 22px;
        font-weight: 350;
        line-height: 24px;
    }
}

/* for desktop responsive */
@media only screen and (min-width: 768px) {
    .post-card__title {
        padding-top: 10px;
        font-size: 38px;
        font-weight: 500;
        line-height: 36px;
    }

    .post-card__info {
        width: max-content;
        top: 5rem;
        flex-direction: row;
        padding: 1rem;
    }

    .post-card__image img {
        width: 80%;
    }

    .post-card__info p {
        width: 60%;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        padding: 4px;
    }

    .post-card__description {
        width: auto;
        margin: 4rem 4rem;
        padding: 2rem;
    }

    .post-card__image img {
        width: 80%;
    }

    .post-card__content {
        padding: 0rem;
    }

}