.cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.313rem;
    margin-bottom: 4.5rem;
}

.card-img {
    width: 100%;
}

.desc {
    padding: 2rem;
}

.card {
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.25rem 1.25rem;
}
button{
    padding: 5px;
    font-size: 12px;
}
/* for tab responsive */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .cards {
        width: 40%;
    }

}

/* for desktop responsive */
@media only screen and (min-width: 769px) {
    .cards {
        width: 50%;
        padding: 5px;
    }
    .desc{
        padding: 15px;
    }
    .card {
        flex-direction: row;
    }

}