    .inputForm {
      width: 54%;
      background: #fff;
      border-radius: 10px;
      margin: 10px;
      padding: 16px;
      transition: all 0.2s;
      font-size: 20px;
    }

    select {
      margin: 8px;
      padding: 8px;
    }
    button{
      padding: 4px;
      font-size: 16px;
    }

    /* for tab responsive */
    @media only screen and (min-width: 481px) and (max-width: 768px) {
     .inputForm{
       margin: 25px;
     }
     button{
      padding: 4px;
      font-size: 22px;
    }
    }

    /* for desktop responsive */
    @media only screen and (min-width: 769px) {
       .inputForm{
       margin: 10px;
     }
     select {
      margin: 5px;
      padding: 5px;
    }
     button{
      padding: 4px;
      font-size: 22px;
    }
    }