.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: black;
    color: #ffffff;
}
.navbar__right{
    font-size: 22px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #ffffff;
}
p{
    color: #4f4f4f;
}