.App {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  overflow-x: visible;
  background-color: #48a8a340;
}

.App-link {
  color: #61dafb;
}
img{
  width: 100%;
  object-fit: cover;
}

button{
  background-color: rgb(43, 189, 208);
  color: #ffffff;
  padding: 5px;
  font-size: 18px;
  border-radius: 10px 10px;
}